.App {
  text-align: center;
  color: #23a2f6;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


body{
  background-color: #080710;
}


.card-container{
  width: 40%;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
  border-radius: 20px;
  position: relative;
  margin-top: 100px;
}

.circle{
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: -1;
}
.circle:first-child{
  background: linear-gradient(
      #1845ad,
      #23a2f6
  );
  left: -100px;
  top: -100px;
}
.circle:nth-child(2){
  background: linear-gradient(
      to right,
      #ff512f,
      #f09819
  );
  right: -100px;
  bottom: -100px;
}


form{
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 350px;
}

.input-holder{
  display: flex;
  flex-direction: column;
}

input{
  width: 50%;
  height: 24px;
  margin: 6px;
  align-self: center;
}

.footer-links{
  margin-bottom: 10px;
  color: antiquewhite;
}
button{
  width: 20%;
  align-self: center;
  margin-top: 20px;
  padding: 3px;
  border-radius: 12px;
  border: none;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.home{
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 60%;
  color: wheat;
  margin: auto;
  justify-content: center;
  font-size: 24px;
  align-items: center;
}

.button-holder{
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: auto;

}

.phone-holder{
  display: flex;
  justify-content: center;
  width: 100%;
}
.phone-holder > input:first-child{
  width: 7%;
}
.phone-holder > input:nth-child(2){
  width: 40%;
}